html{
    padding: 0;
}
body{
    margin: 0;
}

#game{
    background-color: aquamarine;
}

#dogDiv{
    position: absolute;

}
#ringDiv{
    position: absolute;
}

.rings{
    margin-left: -4.3px;
}
#ring3{
    margin-left: 300px;
}

#ring5{
    margin-left: 300px;
}
